<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="cordova-webintent"
      version="1.0.0">
    <name>WebIntent</name>
    <description>Web intents for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,webintent</keywords>

    <js-module src="www/webintent.js" name="WebIntent">
        <clobbers target="WebIntent" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <source-file src="src/android/WebIntent.java" target-dir="src/com/borismus/webintent" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebIntent" >
                <param name="android-package" value="com.borismus.webintent.WebIntent"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<receiver android:name="com.borismus.webintent.WebIntent">
            		<intent-filter android:priority="1">
                		<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            		</intent-filter>
        	</receiver>
        </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest">
		<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
	</config-file>
    </platform>
</plugin>
